# MEDUSA
BASE_URL=https://demo.medusajs.com/
EMAIL=<your-email>
PASSWORD=<your-password>

# OAUTH
AUTH0_DOMAIN=<your-oauth-domain>
AUTH0_CLIENT_ID=<your-oauth-client-id>
AUTH0_USERNAME=<your-oauth-username>
AUTH0_PASSWORD=<your-oauth-password>
AUTH0_REDIRECT_URI=<your-redirect-uri>
